<meta charset="utf-8">
<!DOCTYPE html>
<html>
<head>
<title>SYS-22_diplom</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h3>Дипломная работа по курсу <br>"Системный администратор" <br> Концевой Н.Ю. <br> <h1>Добро пожаловать на страницу!</h1>
<p>Сервер: {{ansible_hostname}} <br>ip: {{ansible_default_ipv4.address}} </p>
</body>
</html>